{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block lang %}
{% if lang_siteurls %}
<div class="select-lang" >
  {% for lang, siteurl in lang_siteurls.items() %}
  {% if lang != DEFAULT_LANG %}<a href="{{ siteurl }}/blog.html">{{ lang | upper }}</a>
  {% else %}
  <strong>{{ lang | upper }}</strong>
  {% endif %} 
  {% endfor %}
</div>
{% endif %}
{% endblock %} 

{% block content %}        
{% if articles %}
{% for article in articles %}        
    {% if loop.index == 1 %}
     <section id="content" class="body">
        <aside id="featured"><article>
                <footer class="post-info">
                        <abbr class="published" title="{{ article.date.isoformat() }}">
                                {{ article.date.strftime('%Y-%m-%d') }}
                        </abbr>
                {% include 'taglist.html' %}
                </footer><!-- /.post-info -->
                <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1> 
                {{ article.content }}
        </article></aside><!-- /#featured -->
        {% if loop.length  > 1 %}
	{% set openpostlist = true %}
                <h1>{% trans %}Autres articles{% endtrans %} — <a href="{{ SITEURL }}/archives.html">{% trans %}Archives{% endtrans %}</a></h1>
                <hr />
                    <ol id="posts-list" class="hfeed">
		    
        {% endif %}
    {% else %} 
        <li><article class="hentry">    
                <footer class="post-info">
                        <abbr class="published" title="{{ article.date.isoformat() }}">
                                {{ article.date.strftime('%Y-%m-%d') }}
                        </abbr>
                        {% include 'taglist.html' %}
                </footer><!-- /.post-info -->
                <header>
                        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{% trans title=article.title %}Permalien vers « {{ title }} »”{% endtrans %}">{{ article.title }}</a></h1>
                </header>
		
                <div class="entry-content">

                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">{% trans %}Lire la suite…{% endtrans %}</a>
                </div><!-- /.entry-content -->
        </article></li>
    {% endif %}
{% endfor %}
{% if loop.length > 1 %}</ol><!-- /#posts-list -->{% endif %}
</section><!-- /#content -->
{% endif %}
{% endblock content %}
